// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.choice_button  {
  border-color: black;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  margin:auto;
  display: inline-block;
  font-family: Georgia, Arial, sans-serif;
}

#container1 {
  text-align: center;
  display: inline-flex;
  align-content: space-between;
  font-family: Georgia, Arial, sans-serif;
}

#container2 {
  text-align: center;
  font-family: Georgia, Arial, sans-serif;
}

 .change_activity_button, .change_restaurant_button {
  border-color: black;
  background-color: white;
  border-radius: 4px;
  font-family: Georgia, Arial, sans-serif;
  margin:auto;
  display:block;
}
